.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-wrap: wrap;*/
    border: 1px solid black;
    width: 600px;
}